
// Global Bootstrap settings
//$enable-flex:                  true; // See http://v4-alpha.getbootstrap.com/getting-started/flexbox/
$enable-rounded:                 false; // Sharp pointy edges
$enable-shadows:                 false; // TODO Consider re-enabling for theme
//$enable-gradients:             true; // Has no effect at present in Bootstrap
$enable-transitions:             true; // Fancy transitions for elements

// JCU settings, defined for use within stock Bootstrap
$jcu-semi-bold:                  600; // OpenSans has no 500 semi-bold

// JCU styling for Bootstrap
// The details as to where each aspect has come from are highlighted above each
// setting

// Colour scheme
$gray-dark:                      #2d2d2d; //Approx 80% black
$gray:                           #565656;
$gray-light:                     #797979;
$gray-lighter:                   #e7e7e7;
$gray-lightest:                  #f7f7f9 !default;

$brand-primary:                  #06c;    // From top-level search and buttons
$brand-success:                  #429306; // Courses page
$body-bg:                        $gray-lighter; // From #page-wrapper
$body-color:                     $gray-dark; // TODO No style set, uses browser default
$font-size-root:                 16px; // Not actually defined anywhere in theme
$font-family-sans-serif:         "Open Sans", sans-serif; // From html, body

// Grid settings
$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1050px
);

// Typography styles
// Not defined in original theme; approximately equal to defaults from Firefox
$font-size-h1:                   1.8rem;
$font-size-h2:                   1.5rem;
$font-size-h3:                   1.2rem;
$font-size-h4:                   1.2rem;
$font-size-h5:                   .9rem;
$font-size-h6:                   .7rem;

$display1-weight:                400;
$display2-weight:                400;
$display3-weight:                400;
$display4-weight:                400;

$headings-margin-bottom:         1rem;
$headings-font-weight:           $jcu-semi-bold; // OpenSans has no 500 semi-bold
$lead-font-weight:               400;

// From footer margins
$grid-gutter-width:              1.25rem;

// From .toolbarmenu*
$dropdown-bg:                    #3f3f3f;
$dropdown-border:                $dropdown-bg;
$dropdown-fallback-border:       $dropdown-border;
$dropdown-divider-bg:            #707070;
$dropdown-link-color:            #fff;
$dropdown-link-hover-color:      darken($dropdown-link-color, 5%);
$dropdown-link-hover-bg:         lighten($dropdown-bg, 20%);
$dropdown-header-color:          #ababab;

$navbar-dark-color:              rgba(255,255,255,.8);
$navbar-dark-hover-color:        rgba(255,255,255,.6);
$navbar-dark-active-color:       rgba(255,255,255,1);
$navbar-inverse-color:           $gray-dark;
$navbar-inverse-toggle-hover-bg: $gray;
$navbar-inverse-link-active-bg:  $gray;

// From .tabs
$nav-tabs-active-link-hover-color: #fff;
$nav-tabs-active-link-hover-bg: $brand-primary;
$nav-tabs-active-link-hover-border-color: $brand-primary;

// From insidebreadcrumbs
$breadcrumb-bg:                  $gray-lighter;
$breadcrumb-padding-vertical:    .5rem;

// From uber-accordion
$card-cap-bg:                    $gray-dark;
$card-cap-color:                 #fff;

// Custom JCU settings
$font-size-xxs: .65rem;
$modal-header-color: #fff;
$modal-header-bg: $gray-dark;

$jcu-gradient-blue: rgb(46, 49, 146), rgb(0, 190, 228);
$jcu-gradient-orange: rgb(233, 79, 53), rgb(255, 221, 0);
$jcu-gradient-green: rgb(0, 166, 81), rgb(214, 224, 64);
$jcu-gradient-red: rgb(157, 22, 25), rgb(236, 0, 140);

$jcu-brand-inverse: #fff;
$jcu-dropdown-text-color: #fff;
$jcu-icon-font-family: "webhostinghub-glyphs";
$jcu-font-size-icon: 1.5rem;
$jcu-navbar-nav-link-padding: .5rem;
$jcu-fade-transition-speed: .3s;
$jcu-exposition-max-height: 50rem;
$jcu-header-height: 17rem;
$jcu-container-fluid-max-width: 1050px;

@import "bootstrap";
@import "components/open-sans-fontface/open-sans.scss";
@import "components/yamm3/yamm/_yamm.scss";
@import "components/webhostinghub-glyphs/css/webhostinghub-glyphs.css";

//
// Layout: general modifiers to page layout and structure
//

.body--has-fixed-nav {
  // Height of the search form (2 * padding + 2 * margin + font-size)
  // TODO Clean this up
  padding-top: ($input-padding-y * 2) + (.2rem * 2) + .75rem;
}

// Fluid-width container, but only until max-width
.container-fluid--max-width {
  max-width: $jcu-container-fluid-max-width;
}

// Ensure dropdown fluid container is shown with max-width applied
.yamm > .container-fluid--max-width {
  position: relative;
}

// Fixed width container, no gutter
.container--no-gutter {
  @include make-container($gutter: 0);
}

// Only pull-right on medium-and-up displays
@include media-breakpoint-up(md) {
  .pull-right-md-up {
    @include pull-right;
  }
}

//
// Typography: customised text-centric components
//

.lead {
  margin-bottom: ($spacer-y * 2);
  line-height: 1.3;
}

.block--dotted {
  margin-bottom: $spacer-y;
  padding-top: $spacer-y;
  padding-bottom: $spacer-y;
  border-top: $border-width dotted $gray-light;
  border-bottom: $border-width dotted $gray-light;
}

@mixin list-bordered($padding-y) {
  @extend .list-unstyled;
  li {
    border-bottom: $border-width solid $gray-light;
    padding-top: $padding-y;
    padding-bottom: $padding-y;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0 none;
      padding-bottom: 0;
    }
  }
}

.list-bordered {
  @include list-bordered(.25em);
}

// Workaround for Firefox double-underline
// See https://github.com/necolas/normalize.css/pull/451
abbr[title] {
  text-decoration: none;
}

.text-primary a {
  border-bottom: $border-width dotted $body-color;
  @include hover-focus {
    text-decoration: none;
    border-bottom-color: $link-hover-color;
  }
}

//
// Dropdowns
//

.dropdown-menu {
  // Override default Bootstrap display: none so we have transitions
  display: block;
  visibility: hidden;
  opacity: 0;

  // Move the dropdown menu upwards to avoid rounding issues
  margin-top: -$border-width;
  transition-property: visibility, opacity;
  transition-duration: $jcu-fade-transition-speed;
}

.open {
  > .dropdown-menu {
    visibility: visible;
    opacity: 1;
  }
}

.dropdown-toggle::after {
  width: auto;
  height: auto;
  padding-top: .2em;
  font-family: $jcu-icon-font-family;
  line-height: ($line-height / 2);
  content: "\e39d";
  border-top: 0 none;
  border-right: 0 none;
  border-left: 0 none;
}

// Open dropdown menus on hover by default rather than click
.dropdown--open-on-hover {
  @include hover-focus {
    > .dropdown-menu {
      visibility: visible;
      transition: visibility 0s, opacity $jcu-fade-transition-speed;
      opacity: 1;
    }
  }
}

//
// Navs
//

.nav-tabs {
  .nav-link {
    border-top-right-radius: 1em;
  }

  &.bg-inverse {
    padding: ($spacer-y / 2) ($spacer-x / 2) 0;
    border-bottom: 0 none;

    .nav-item {
      margin-bottom: 0;
    }
    .nav-link {
      @include plain-hover-focus {
        border-bottom: 0 none;
      }
    }
  }
}

// Re-use colours from dark navbars for dark nav
.nav-dark {
  .nav-link {
    color: $navbar-dark-color;

    @include hover-focus {
      color: $navbar-dark-hover-color;
    }
  }

  .nav-link.active,
  .nav-item.open .nav-link {
    @include plain-hover-focus {
      color: $navbar-dark-active-color;
    }
  }
}

.tab-pane {
  padding: ($spacer / 2);
}

//
// Navbar
//

// Add suitable padding to links inside navbars
.navbar-nav .nav-link {
  padding: $jcu-navbar-nav-link-padding;
}

//
// Modal: popup dialog boxes
//

.modal-header {
  background-color: $modal-header-bg;
  color: $modal-header-color;

  .close {
    color: $modal-header-color;
    opacity: 1;
  }
}

//
// Toolbar: global actions/links, fixed to the top of a site or application
//

.jcu-toolbar {
  padding: 0;
  font-size: $font-size-sm;
  line-height: 1.1;

  .form-inline {
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);

    .form-control,
    .btn {
      margin-top: .2rem;
      margin-bottom: .2rem;
      font-size: .6rem;
      // TODO Reduce padding here
      line-height: 1.2;
    }

    .c-select {
      background-color: transparent;
      border: 0 none;
    }
  }

  .dropdown-menu {
    padding: $spacer;
    color: $jcu-dropdown-text-color;

    .nav {
      margin-bottom: $spacer-y;
    }

    .nav a {
      color: $jcu-dropdown-text-color;
      font-size: $font-size-sm;

      @include hover-focus {
        color: $dropdown-link-hover-color;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .dropdown {
      @include hover {
        background-color: $dropdown-bg;
        transition-duration: $jcu-fade-transition-speed;
        transition-property: background-color, color;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    line-height: 2.2;

    .dropdown-menu,
    .dropdown-toggle::after {
      display: none !important;
    }
    .nav-item {
      width: 16.66%;
      text-align: center;
    }
    .navbar-nav .nav-item + .nav-item {
      margin-left: 0;
    }
  }

  @include media-breakpoint-only(md) {
    .nav-link {
      padding-right: ($spacer / 4);
      padding-left: ($spacer / 4);
    }
  }

  h1 {
    padding-bottom: ($spacer-y / 2);
    margin-bottom: ($spacer-y / 2);
    font-size: 1rem;
    border-bottom: $border-width solid $dropdown-header-color;

    a {
      color: $dropdown-header-color;
    }
  }

  .card {
    padding-top: ($spacer * .75);
    padding-bottom: ($spacer * .75);
    color: $jcu-dropdown-text-color;
    background-color: $gray-light;
    border: 0 none;
    @include clearfix;

    &:hover .card-title {
      text-decoration: underline;
    }

    > a {
      display: flex;
      align-items: center;
    }
  }

  .card-title {
    font-size: $font-size-base;
    color: $jcu-dropdown-text-color;
  }

  .card-icon {
    font-size: $jcu-icon-font-size;
    color: $gray-dark; //navbar-inverse-bg
  }

  .card-subtitle {
    font-size: $font-size-xxs;
    color: $gray-lighter;
  }

  @at-root .jcu-toolbar__students {
    display: flex;
    align-items: center;
  }

}

//
// Explorer: the primary branding and navigation header, featuring the JCU logo
//

@mixin jcu-explorer-gradient {
  background-color: nth($jcu-gradient-blue, 1);
  @include gradient-horizontal(nth($jcu-gradient-blue, 1), nth($jcu-gradient-blue, 2), $end-percent: 175%);
}

.navbar--jcu-explorer {
  $navbar-color: #fff;
  $navbar-content-color: #000;
  $navbar-interaction-color: $brand-primary;

  z-index: $jcu-zindex-explorer;
  padding-top: ($navbar-padding-vertical / 2);
  padding-bottom: ($navbar-padding-vertical / 2);
  background-color: $brand-primary;

  @include media-breakpoint-down(sm) {
    position: fixed;
    top: $jcu-toolbar-height-sm;
    width: 100%;
    padding: 0;
    border-bottom: $border-width solid $brand-primary;

    // Simulate navbar padding on smaller devices for a full-width navbar
    .navbar-brand {
      margin-left: $navbar-padding-horizontal;
    }

    .navbar-toggler {
      margin-right: $navbar-padding-horizontal;
    }
  }

  @include media-breakpoint-up(md) {
    // Padding is 0 so that dropdowns are flush
    padding-bottom: 0;
    border: 0 none;
    border-top-right-radius: 1.25rem;
    @include jcu-explorer-gradient;
  }

  .navbar-brand img {
    max-height: 4rem;
  }

  // Larger device-centric display elements
  .navbar-right {
    // container-fluid padding-right is already half-gutter
    margin-right: ($grid-gutter-width / 2);
  }

  .navbar-nav {
    .nav-link {
      padding: $spacer-y ($spacer-x * 1.5) ($spacer-y * 1.75);
      margin-top: ($spacer-y * .75);
      color: $navbar-color;
      border-top-right-radius: 1.25em;

      @include media-breakpoint-only(md) {
        padding-right: ($spacer-x * 1.25);
        padding-left: ($spacer-x * 1.25);
      }
    }

    .nav-item + .nav-item {
      margin-left: 0;
    }
  }

  .nav-link:hover,
  .nav-link:focus,
  .dropdown:hover .nav-link {
    color: $navbar-interaction-color;
    background-color: $navbar-color;
  }

  .dropdown-menu {
    padding-top: 0;
    font-size: $font-size-sm;
    color: $navbar-color;
    border: 0 none;
    transition-property: none;
    @include jcu-explorer-gradient;
  }

  // Disable transitions for dropdowns
  .dropdown--open-on-hover {
    @include hover-focus {
      > .dropdown-menu {
        transition: none;
      }
    }
  }

  .yamm-content {
    // Line up with nav gutter + navbar-padding
    margin: 0 $navbar-padding-horizontal ($navbar-padding-vertical / 2);
    color: $navbar-content-color;
    background-color: $navbar-color;
  }

  .jcu-overlay-card {
    max-height: 8rem;
    overflow: hidden;
  }

  @at-root .jcu-explorer__tagline {
    text-align: center;
    a {
      font-weight: bold;
      color: $navbar-color;
    }
  }

  // Smaller device-centric display elements
  .navbar-toggler {
    padding-right: 0;
    padding-left: 0;
    font-size: $jcu-icon-font-size-lg;
    line-height: 1.5;
    color: $navbar-color;
  }

  @at-root .jcu-explorer__toggleable {
    clear: both;
    font-size: 1.5rem;

    .nav-link {
      color: $navbar-color;
      @include hover-focus {
        color: $navbar-interaction-color;
      }
    }

    .nav-item {
      margin-top: 0;
      border-bottom: $border-width solid $navbar-color;

      &:last-child {
        border-bottom: 0 none;
      }
    }

    // Nested navs
    .nav .nav {
      padding-left: $navbar-padding-horizontal;
      font-size: 1.2rem;
      background-color: $gray-dark;

      .nav-item {
        margin-left: $navbar-padding-horizontal;
        border-bottom-color: $gray-light;
      }

      .nav-link {
        padding-left: ($navbar-padding-horizontal / 2);
      }
    }

  }

}

//
// Accordion: a set of headings that reveal content upon interaction
//

.jcu-accordion {
  .card-block {
    background-color: $gray-lighter;
  }

  .card-header {
    padding: 0;

    > a {
      display: block;
      width: 100%;
      padding: $card-spacer-y $card-spacer-x;
      color: #fff;
      background-color: $brand-primary;
      transition: background-color $jcu-fade-transition-speed;

      @include hover-focus {
        text-decoration: none;
      }

      &.collapsed {
        background-color: #000;
      }

      &::before {
        content: "Hide";
        position: absolute;
        // Position to the right of (chevron + chevron width + padding)
        right: ($font-size-base * (1 + .75 + 1));
        font-size: $font-size-xs;
        // Calculate line-height for smaller font to be even with headings
        line-height: $line-height + .5;
      }

      &.collapsed::before {
        content: "Show";
      }

      &::after {
        font-family: "WebHostingHub-Glyphs";
        content: '\e39c';
        position: absolute;
        right: $font-size-base;
        // Calculate line-height for icon font to be even with ::before text
        line-height: $line-height + .25;
      }

      &.collapsed::after {
        content: '\e39d';
      }
    }
  }
}

//
// Custom: styles outside of Bootstrap
//

.input-sm {
  line-height: 1;
}

$jcu-content-bg-color: #fff;

.jcu-content {
  padding-bottom: $spacer-y;
  margin-bottom: $spacer-y;
  background-color: $jcu-content-bg-color;
}

.jcu-content--short-content {
  min-height: ($jcu-exposition-max-height - $jcu-header-height);
}

$footer-text-color: $body-color;
$footer-border-color: $footer-text-color;
$footer-border: $border-width dotted $footer-border-color;

.footer {
  font-size: $font-size-sm;
  background-color: $gray-lighter;

  h1 {
    padding-top: ($spacer / 2);
    padding-bottom: ($spacer / 2);
    font-size: 1rem;
    font-weight: 400;
    border-bottom: $footer-border;
  }

}

.footer-social-legal {
  padding-top: ($spacer-y / 2);
  padding-bottom: ($spacer-y / 2);
  border-top: $footer-border;
  border-bottom: $footer-border;

  a {
    font-weight: $jcu-semi-bold;
  }

  @at-root .footer-social-legal__social {
    @include list-unstyled;
    margin-left: ($spacer-x / 2);
    font-size: $jcu-font-size-icon;

    @include media-breakpoint-down(sm) {
      font-size: ($jcu-font-size-icon * 2);
      text-align: center;
    }

    > li {
      display: inline-block;
    }

    a {
      color: #4b4c4e;
      @include hover-focus {
        color: $link-hover-color;
      }
    }
  }

  @at-root .footer-social-legal__legal {
    @extend .list-inline;

    > li:not(:last-child)::after {
      margin-left: $spacer-x;
      content: "";
      border-left: $border-width solid $gray-light;
    }
  }
}


//
// Colophon: publication details for display at bottom of pages.
//
.jcu-colophon {
  @extend .small;
  padding-bottom: ($spacer / 2);
  padding-top: ($spacer / 2);
}


//
// Campus Stack: stylised listing of University campuses
//
@mixin jcu-campus-stack($color) {
  li {
    border-color: $color;

    &:first-child {
      border-top: $border-width solid $color;
    }

    &:last-child {
      border-bottom: $border-width solid $color;
    }
  }

  a {
    color: $color;
  }
}

.jcu-campus-stack {
  display: inline-block;
  @include list-bordered(.25em);
  @include jcu-campus-stack($gray-dark);

  li {
    padding-top: 0;
  }

}

.jcu-campus-stack--color {
  // Colour matches the JCU shield
  @include jcu-campus-stack(#176FC1);
}

.jcu-campus-stack--inverse {
  @include jcu-campus-stack($jcu-brand-inverse);
}



//
// Exposition: the background that sets the scene
//

.jcu-exposition {
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  display: block;
  background-color: #000;
  max-height: $jcu-exposition-max-height;
  overflow: hidden;
  z-index: -1;
  img {
    width: 100%;
    height: auto;
    opacity: 0.2;
  }
}

//
// Section Navigator: sub-section links, menus and breadcrumbs
//

.jcu-section-navigator {
  // Calculate complete navbar height for use in positioning
  $jcu-section-navigator-height: (($font-size-xs * $line-height) + 2 * $jcu-navbar-nav-link-padding);
  // Rounding may make navbar 1/16th rem higher
  margin-top: (-$jcu-section-navigator-height - .0625rem);
  font-size: $font-size-xs;

  .dropdown-menu {
    font-size: inherit;
    padding: $spacer;

    .dropdown-item {
      border-bottom: $border-width solid $gray-light;
      padding: ($spacer / 4);

      &:last-child {
        border-bottom: 0 none;
      }
    }
  }

  .navbar {
    padding-bottom: 0;
    padding-top: 0;
  }

  // Move the subnavigation items further to the right
  .navbar-nav .nav-item:nth-child(2) {
    margin-left: 1.5rem;
  }

  .navbar-dark {
    .navbar-nav .active {
      $navbar-half-padding: ($navbar-padding-horizontal / 2);
      background-color: $gray;
      margin-left: -$navbar-padding-horizontal;
      position: relative; // for arrow

      .nav-link {
        // Line up with padding for breadcrumbs
        padding-left: $breadcrumb-padding-horizontal;
        @include hover-focus {
          background-color: inherit;
          border-top-right-radius: 0;
          color: inherit;
          text-decoration: underline;
        }
      }

      &::after {
        left: 100%;
        top: 0;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba($gray, 0);
        border-left-color: $gray;
        // Height of border is half element height the 2 borders combine
        $border-width: ($jcu-section-navigator-height / 2);
        border-width: $border-width;
      }
    }

    .navbar-nav .nav-link {
      // Replace padding-top with half margin/padding combo for 'tab' look
      padding-top: ($jcu-navbar-nav-link-padding / 2);
      margin-top: ($jcu-navbar-nav-link-padding / 2);
      // Wider links
      padding-left: ($jcu-navbar-nav-link-padding * 1.5);
      padding-right: ($jcu-navbar-nav-link-padding * 1.5);
    }

    .nav-link:hover,
    .nav-link:focus,
    .dropdown:hover .nav-link {
      background-color: #fff;
      border-top-right-radius: .5rem;
      color: $body-color;
    }

  }
}

.jcu-section-navigator__breadcrumb {
  background-color: #fff;
}

.breadcrumb {
  text-transform: uppercase;
}

//
// Header: to be named better.  The background images.
//

.jcu-header {
  height: $jcu-header-height;
  padding-top: $spacer;
  background-position: center center;
  background-size: cover;
}

.jcu-header--leaf-curl {
  background-image: url("../images/leaf-curl.jpg");
}

.jcu-header__page-title {
  position: absolute;
  top: (17rem - 5rem);
  padding: 0.2em;
  margin-left: $spacer-x * 2;
  font-weight: 600;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}

//
// Cards: blocks of information; optionally interactive tiles
//

$card-overlay-font-color: #fff !default;
$card-overlay-min-height: 6rem !default;

.card-header {
  color: $card-cap-color;
}

.jcu-overlay-card {
  min-height: $card-overlay-min-height;

  .jcu-overlay {
    position: absolute;
    top: auto;
    width: 100%;
    max-height: 60%;
    overflow: hidden;
    color: $card-overlay-font-color;
  }

  .card-title {
    margin-bottom: 0;
  }

  .card-subtitle {
    font-size: $font-size-sm;
  }

  &:not(.jcu-overlay-card--fixed) {
    .card-subtitle {
      display: none;
    }

    @include hover {
      .jcu-overlay {
        height: 100%;
        max-height: 100%;
        transition: max-height $jcu-fade-transition-speed;
      }

      .card-title {
        padding-bottom: ($spacer / 4);
        margin-bottom: $card-spacer-y;
        border-bottom: $border-width solid $card-overlay-font-color;
      }

      .card-subtitle {
        display: block;
      }
    }
  }
}

//
// Theme: the various JCU theme colours
//

@mixin jcu-theme-headings($name, $color) {
  .jcu-theme--#{$name} {
    h2,
    h3,
    h4,
    h5,
    h6,
    .lead {
      color: $color;
    }
  }
}

@include jcu-theme-headings('blue', #339);
@include jcu-theme-headings('orange', #f33);
@include jcu-theme-headings('green', #096);
@include jcu-theme-headings('red', #900);

//
// Background: utilities for specifying backgrounds
//
// Colours were sourced from https://www.jcu.edu.sg/courses-and-study/courses
// (September 2015)

@mixin jcu-bg-variant($background-color) {
  $color: #fff;
  $text-shadow-color: $body-color;
  @if lightness($background-color) > 70% {
    $color: #000;
    $text-shadow-color: #fff;
  }
  background-color: $background-color;
  color: $color;
  text-shadow: $text-shadow-color 0 0 .5em;
}

.jcu-overlay--inverse {
  color: $body-color;
  text-shadow: #fff 0 0 .5em;
}

$bg-opacities: 25, 50, 75, 90, 100;
$bg-colors: (
  'pink': rgb(236, 0, 140),
  'red': rgb(227, 31, 38),
  'red-dark': rgb(157, 22, 27),
  'orange': rgb(247, 147, 30),
  'yellow': rgb(253, 185, 19),
  'green-light': rgb(214, 224, 64),
  'green': rgb(13, 177, 75),
  'blue-light': rgb(0, 190, 228),
  'blue': rgb(0, 102, 179),
  'blue-dark': rgb(46, 49, 146),
  'black': rgb(0, 0, 0),
  'gray': $gray,
  'gray-light': $gray-light,
  'gray-lighter': $gray-lighter,
  'white': rgb(255, 255, 255)
);

.jcu-bg--transparent {
  background-color: rgba(0, 0, 0, 0);
}

@each $name, $color in $bg-colors {
  @each $opacity in $bg-opacities {
    $class-name: ".jcu-bg--#{$name}-#{$opacity}pc";
    @if $opacity == 100 {
      $class-name: ".jcu-bg--#{$name}";
    }
    #{$class-name} {
      // #fff needs to be colour-specific
      @include jcu-bg-variant(rgba($color, ($opacity / 100)));
    }
  }
}

$bg-gradients: (
  'gradient-blue': $jcu-gradient-blue,
  'gradient-orange': $jcu-gradient-orange,
  'gradient-green': $jcu-gradient-green,
  'gradient-red': $jcu-gradient-red
);

// TODO: this could be included as a 45 deg angle gradient
// TODO: style guide says transparency should be at 90%
@each $name, $gradient in $bg-gradients {
  .jcu-bg--#{$name} {
    @include gradient-horizontal(nth($gradient, 1), nth($gradient, 2));
  }
  .jcu-bg--#{$name}-reverse {
    @include gradient-horizontal(nth($gradient, 2), nth($gradient, 1));
  }
}

//
// Overlay: palette of semi-transparent colours used on Cards, etc
//
.jcu-overlay {
  padding: .5rem .75rem;
  border-top-right-radius: 1.25rem;
}

.jcu-overlay--plain {
  padding: .25rem;
  border-top-right-radius: 0;
}

