//
// Content: body content with features and styles befitting the CMS block
//
$jcu-content-bg-color: #fff;

.jcu-content {
  padding-top: $spacer-y;
  padding-bottom: $spacer-y;
  margin-bottom: $spacer-y;
  background-color: $jcu-content-bg-color;

  > .col-md-9 {
    @media print {
      width: 100%;
    }
  }

  @media print {
    a:link:after,
    a:visited:after {
      font-size: 90%;
      content: " (" attr(href) ") ";
    }

    a[href^="/"]:after {
      content: " (https://www.jcu.edu.au" attr(href) ") ";
    }
  }
}

.jcu-content--short-content {
  min-height: ($jcu-exposition-max-height - $jcu-header-height);
}

