//
// Header: upper portion of page layouts (branding, navigation, title)
//

.jcu-brand {
  @extend .navbar-brand;
}

.jcu-header {
  background-color: $gray-dark;
  background-position: center center;
  background-size: cover;

  // stylelint-disable selector-no-id, declaration-no-important
  @media print {
    height: auto !important;
    background-color: transparent;
    background-image: none !important;
  }
  // stylelint-enable

}

// Banner-style contents are vertically centred & expand on larger displays
.jcu-header-banner {
  @include media-breakpoint-up(md) {
    padding-top: ($spacer * 3);
    padding-bottom: ($spacer * 3);
  }

  .row {
    align-items: center;
  }
}

// Marketing-style headers are larger; commonly used on CMS-style pages
.jcu-header--marketing {
  height: $jcu-header-height;
  padding-top: $spacer;

  .jcu-header-page-title {
    position: absolute;
    top: ($jcu-header-height * .65);
    z-index: $jcu-zindex-base;
    padding: .3em;
    margin-left: $spacer * 2;
    background-color: rgba(0, 0, 0, .2);

    @media print {
      position: relative;
      top: auto;
      margin-left: 0;
      background-color: transparent;

    }
  }
}


// Page title has responsive font sizing
.jcu-header-page-title {
  margin-top: $spacer;
  margin-bottom: $spacer;
  font-size: $font-size-h3;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0 .5em $gray-dark;

  @include media-breakpoint-up(md) {
    font-size: $font-size-h1;
  }

  @media print {
    font-size: $font-size-h1;
    color: $gray-dark;
    background-color: #fff;
  }

  a {
    color: #fff;
  }
}


