//
// Layout: general modifiers to page layout and structure
//
body {
  @media print {
    background-color: transparent;
  }
}

// Fluid-width container, but only until max-width
.container-fluid--max-width {
  max-width: $jcu-container-fluid-max-width;
}

// Ensure dropdown fluid container is shown with max-width applied
.yamm > .container-fluid--max-width {
  position: relative;
}

// Only pull-right on medium-and-up displays
@include media-breakpoint-up(md) {
  .pull-right-md-up {
    @include pull-right;
  }
}

// Flexbox: simple alignment for block items in containers
@mixin flex-items($align) {
  display: flex;
  align-items: $align;
}

.flex-items-start {
  @include flex-items(flex-start);
}

.flex-items-center {
  @include flex-items(center);
}

.flex-items-end {
  @include flex-items(flex-end);
}

.visible-print-flex {
  display: none !important;

  @media print {
    display: flex !important;
  }
}
