//
// Navs
//
.nav-tabs,
.nav-link {
  border-top-right-radius: 1em;
}


.tab-pane {
  padding: ($spacer / 2);
}

//JCU Design system docs page navigation
.jcuDocsNav {

  .nav {
    background-color: $primary;
  }

  .nav-link {
    color: $white;
  }
}
