//
// Navbar
//
// Add suitable padding to links inside navbars
.navbar-nav .nav-link {
  padding: $jcu-navbar-nav-link-padding;
}

.navbar-light {

  // New JCU icon created for the expanded .navbar-toggler (as opposed to .collapsed)
  .navbar-toggler-icon {
    background-image: $jcu-navbar-light-toggler-iconclose-bg;
  }

  .navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg;
  }

  // JCU Navbar menu button border and outline style
  /* stylelint-disable selector-no-qualifying-type */
  button.navbar-toggler {
    border-color: $jcu-navbar-button-border-color;
    outline: $jcu-navbar-button-outline;
  }
  /* stylelint-enable */


}

// JCU Navbar brand picture  dimensions
.navbar-brand img {
  width: $jcu-navbar-brand-width;
  height: $jcu-navbar-brand-height;
}

// JCU Navbar background colour
.navbar-light.bg-light {
  /* stylelint-disable declaration-no-important  */
  background-color: $jcu-navbar-background-color !important;
  /* stylelint-enable  */
}
