
#test {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
}


#jcuNav {
  background-color: var(--white);
  /*height: 85px;*/
  /*border: thick solid red;*/
}

#jcuNav img {
  width: 161px;
  height: 85px;
  /*border: thin solid black;*/
}

#jcuNav .oi-magnifying-glass {
  font-size: 1.5rem;
  color: var(--primary);
}

#jcuNav .oi-menu {
  font-size: 1.5rem;
  color: var(--primary);
}

#jcuHeader {

  /*height: 320px;*/
 /* border: thick solid blue;*/
}

#jcuHeader .jumbotron{
  background-color: var(--jcu-blue-dark);
}

#jcuBreadCrumbs {
 background-color: var(--jcu-gray-200);
/* border: thick solid yellow;*/
}

#jcuMain {
  background-color: var(--jcu-gray-50);
  /*height: 1143px;*/
  /*border: thick solid orange;*/
}

#jcuFooter {
  background-color: var(--primary);
  /*height: 96px;*/
 /* border: thick solid purple;*/
 color: white;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.99px) {

.oi-magnifying-glass {
  color: red;
}

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.99px) {

 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.99px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.99px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
