
/*Haven't been able to set */
/*.navbar-light.bg-light {
  background-color: white !Important;
}*/


/*.navbar-light .navbar-nav .nav-link {
  color: var(--primary);
}*/

/*.navbar-light .navbar-toggler {
  border: thin solid white;
}*/

/*.navbar-light .navbar-toggler {
  border: white;
}*/



