

* {box-sizing: border-box;}

.flexContainerRowJcuWeb {
  display: flex;
  flex-direction: row;
  margin: 30px;
  justify-content: flex-start; /*X-AXIS*/
  align-items: flex-start; /*Y-AXIS*/
}

 h2, h4, h5{
  color: black;
 }

.flexItem1 {
  margin: 10px;
  height: 90px;
  width: 260px;
  border: thin solid black;
  background-color: var(--primary);
}



.flexItem2 {
 margin: 10px;
 height: 90px;
 width: 260px;
 border: thin solid black;
 background-color: var(--jcu-blue-light);

}




.flexItem3 {
  margin: 10px;
  height: 90px;
  width: 260px;
  border: thin solid black;
  background-color: var(--jcu-blue-dark);

}




.flexItem4 {
  margin: 10px;
  height: 90px;
  width: 260px;
  border: thin solid black;
  background-color: var(--secondary);

}



.flexItem5 {
  margin: 10px;
  height: 90px;
  width: 260px;
  border: thin solid black;
  background-color: var(--jcu-yellow-light);

}



.flexItem6 {
  margin: 10px;
  height: 90px;
  width: 260px;
  border: thin solid black;
  background-color: var(--jcu-yellow-dark);

}



.flexItem7 {
  margin: 10px;
  height: 90px;
  width: 260px;
  border: thin solid black;
  background-color: var(--jcu-gray-50);

}

.flexItem8 {
  margin: 10px;
  height: 90px;
  width: 260px;
  border: thin solid black;
  background-color: var(--jcu-gray-100);

}

.flexItem9 {
  margin: 10px;
  height: 90px;
  width: 260px;
  border: thin solid black;
  background-color: var(--jcu-gray-200);

}

.flexItem10 {
  margin: 10px;
  height: 90px;
  width: 260px;
  border: thin solid black;
  background-color: var(--jcu-gray-700);


}


.flexItem10 h4, .flexItem10 h5 {
  color: white;
}


.flexItem11 {
  margin: 10px;
  height: 90px;
  width: 260px;
  border: thin solid black;
  background-color: var(--jcu-gray-800);

}

.flexItem11 h4, .flexItem11 h5  {
  color: white;
}


.flexItem12 {
  margin: 10px;
  height: 90px;
  width: 260px;
  border: thin solid black;
  background-color: var(--jcu-gray-900);

}

.flexItem12 h4, .flexItem12 h5 {
  color: white;
}


.flexItem13 {
  margin: 10px;
  height: 90px;
  width: 260px;
  border: thin solid black;
  background-color: var(--green);

}

.flexItem14 {
  margin: 10px;
  height: 90px;
  width: 260px;
  border: thin solid black;
  background-color: var(--jcu-light-green);

}

.flexItem15 {
  margin: 10px;
  height: 90px;
  width: 260px;
  border: thin solid black;
  background-color: var(--jcu-dark-green);

}



.flexItem16 {
  margin: 10px;
  height: 90px;
  width: 260px;
  border: thin solid black;
  background-color: var(--pink);

}

.flexItem17 {
  margin: 10px;
  height: 90px;
  width: 260px;
  border: thin solid black;
  background-color: var(--jcu-light-pink);

}

.flexItem18 {
  margin: 10px;
  height: 90px;
  width: 260px;
  border: thin solid black;
  background-color: var(--jcu-dark-pink);

}

.flexItem19 {
  margin: 10px;
  height: 90px;
  width: 260px;
  border: thin solid black;
  background-color: var(--white);

}

.flexItem20 {
  margin: 10px;
  height: 90px;
  width: 260px;
  border: thin solid black;
  background-color: var(--jcu-black);

}

.flexItem20 h4, .flexItem20 h5{
  color: white;
}

.row {
  border: thin solid black;
}

