

* {box-sizing: border-box;}

.flexContainerRowJcuWeb {
	display: flex;
	flex-direction: row;

	/*height: 500px;*/
	/*width: 800px;*/
	/*border: thick solid black;*/
	margin: 30px;
	justify-content: flex-start; /*X-AXIS*/
	align-items: flex-start; /*Y-AXIS*/
}

#flexContainerCol {
	display: flex;
	flex-direction: column;

	height: 500px;
	width: 800px;
	border: thick solid black;
	margin: 30px;
	justify-content: flex-start; /*Y-AXIS*/
	align-items: flex-start; /*X-AXIS*/

}

.flexItem1 {
	margin: 10px;
	height: 90px;
	width: 260px;
	border: thin solid black;
	background-color: var(--primary);
			/*align-self: flex-start; /*Y-AXIS ROW
			X-AXIS COLUMN*/
		}

		.flexItem1  h2 {
			color:var(--light);
		}

		.flexItem2 {
			margin: 10px;
			height: 90px;
			width: 260px;
			border: thin solid black;
			background-color: var(--light);
	/*align-self: flex-start; /*Y-AXIS ROW
	X-AXIS COLUMN*/
}

.flexItem2 h4 {
	color:var(--dark);
}


.flexItem3 {
	margin: 10px;
	height: 90px;
	width: 260px;
	border: thin solid black;
	background-color: var(--dark);
	/*align-self: flex-start; /*Y-AXIS ROW
	X-AXIS COLUMN*/
}

.flexItem3 h4 {
	color: var(--primary);
}


.flexItem4 {
	margin: 10px;
	height: 90px;
	width: 260px;
	border: thin solid black;
	background-color: var(--secondary);
	/*align-self: flex-start; /*Y-AXIS ROW
	X-AXIS COLUMN*/
}

.flexItem4 h2 {
	color: var(--warning);
}

.flexItem5 {
	margin: 10px;
	height: 90px;
	width: 260px;
	border: thin solid black;
	background-color: var(--warning);
	/*align-self: flex-start; /*Y-AXIS ROW
	X-AXIS COLUMN*/
}

.flexItem5 h4 {
	color: var(--info);
}

.flexItem6 {
	margin: 10px;
	height: 90px;
	width: 260px;
	border: thin solid black;
	background-color: var(--info);
	/*align-self: flex-start; /*Y-AXIS ROW
	X-AXIS COLUMN*/
}

.flexItem6 h4 {
	color: var(--secondary);
}

.flexItem7 {
	margin: 10px;
	height: 90px;
	width: 260px;
	border: thin solid black;
	background-color: var(--G-50);
	/*align-self: flex-start; /*Y-AXIS ROW
	X-AXIS COLUMN*/
}

.flexItem8 {
	margin: 10px;
	height: 90px;
	width: 260px;
	border: thin solid black;
	background-color: var(--G-100);
	/*align-self: flex-start; /*Y-AXIS ROW
	X-AXIS COLUMN*/
}

.flexItem9 {
	margin: 10px;
	height: 90px;
	width: 260px;
	border: thin solid black;
	background-color: var(--G-300);
	/*align-self: flex-start; /*Y-AXIS ROW
	X-AXIS COLUMN*/
}

.flexItem10 {
	margin: 10px;
	height: 90px;
	width: 260px;
	border: thin solid black;
	background-color: var(--G-800);
	/*align-self: flex-start; /*Y-AXIS ROW
	X-AXIS COLUMN*/
}

.flexItem10 h4{
	color: var(--white);
}


.flexItem10 h5 {
	color: var(--white);
}

.flexItem11 {
	margin: 10px;
	height: 90px;
	width: 260px;
	border: thin solid black;
	background-color: var(--gray-dark);
	/*align-self: flex-start; /*Y-AXIS ROW
	X-AXIS COLUMN*/
}

.flexItem11 h4{
	color: var(--white);
}


.flexItem11 h5 {
	color: var(--white);
}

.flexItem12 {
	margin: 10px;
	height: 90px;
	width: 260px;
	border: thin solid black;
	background-color: var(--gray-dark);
	/*align-self: flex-start; /*Y-AXIS ROW
	X-AXIS COLUMN*/
}

.flexItem12 h4{
	color: var(--white);
}


.flexItem12 h5 {
	color: var(--white);
}

.flexItem13 {
	margin: 10px;
	height: 90px;
	width: 260px;
	border: thin solid black;
	background-color: var(--success);
	/*align-self: flex-start; /*Y-AXIS ROW
	X-AXIS COLUMN*/
}

.flexItem14 {
	margin: 10px;
	height: 90px;
	width: 260px;
	border: thin solid black;
	background-color: var(--secondary-dark-green);
	/*align-self: flex-start; /*Y-AXIS ROW
	X-AXIS COLUMN*/
}

.flexItem15 {
	margin: 10px;
	height: 90px;
	width: 260px;
	border: thin solid black;
	background-color: var(--secondary-light-green);
	/*align-self: flex-start; /*Y-AXIS ROW
	X-AXIS COLUMN*/
}



.flexItem16 {
	margin: 10px;
	height: 90px;
	width: 260px;
	border: thin solid black;
	background-color: var(--danger);
	/*align-self: flex-start; /*Y-AXIS ROW
	X-AXIS COLUMN*/
}

.flexItem17 {
	margin: 10px;
	height: 90px;
	width: 260px;
	border: thin solid black;
	background-color: var(--secondary-dark-red);
	/*align-self: flex-start; /*Y-AXIS ROW
	X-AXIS COLUMN*/
}

.flexItem18 {
	margin: 10px;
	height: 90px;
	width: 260px;
	border: thin solid black;
	background-color: var(--secondary-light-red);
	/*align-self: flex-start; /*Y-AXIS ROW
	X-AXIS COLUMN*/
}



.row {
	border: thin solid black;
}

