<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="The JCU Web Framework, based on Bootstrap.">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
<meta name="author" content="David Beitey and JCU contributors">

<title>
  
    Dropdowns &middot; JCU Web Framework
  
</title>

<!-- Bootstrap core CSS -->
<link href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/dist/css/jcu.min.css" rel="stylesheet">

<!-- Documentation extras -->
<link href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/assets/css/docs.min.css" rel="stylesheet">

<!-- Favicons -->
<link rel="apple-touch-icon" href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/apple-touch-icon.png">
<link rel="icon" href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/favicon.ico">

  </head>
  <body class="bd-docs" data-spy="scroll" data-target=".bd-sidenav-active">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
      <div class="container">
        <span class="skiplink-text">Skip to main content</span>
      </div>
    </a>

    <header class="navbar navbar-light navbar-static-top bd-navbar" role="banner">
  

  <div class="clearfix">
    <button class="navbar-toggler pull-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#bd-main-nav">
      &#9776;
    </button>
    <a class="navbar-brand hidden-sm-up" href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/">
      JCU Web Framework
    </a>
  </div>
  <div class="collapse navbar-toggleable-xs" id="bd-main-nav">
    <nav class="nav navbar-nav">
      <a class="nav-item nav-link " href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/">JCU Web Framework</a>
      <a class="nav-item nav-link active" href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/getting-started/introduction/">Documentation</a>
      <a class="nav-item nav-link " href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/examples/">Examples</a>
    </nav>
  </div>
</header>


    <div class="bd-pageheader">
      <div class="container">
        
  <h1>Components</h1>
  <p class="lead">
    Over a dozen reusable components built to provide buttons, dropdowns, input groups, navigation, alerts, and much more.
  </p>


      </div>
    </div>

    <main class="container">
      <div class="row jcu-content">
        <div class="container-fluid">
          <div class="col-md-3 col-md-push-9 bd-sidebar">
            <div class="bd-sidebar">

  <form class="bd-search hidden-sm-down">
    <input type="text" class="form-control" id="search-input" placeholder="Search...">
    <div class="dropdown-menu bd-search-results" id="search-results"></div>
  </form>

  <nav class="bd-links" id="docsNavbarContent">
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/getting-started/introduction">
        
          Getting started
        </a>

        <ul class="nav bd-sidenav">
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/getting-started/introduction">
                Introduction
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/getting-started/download">
                Download
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/getting-started/browsers-devices">
                Browsers & devices
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/getting-started/options">
                Options
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/getting-started/flexbox">
                Flexbox
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/getting-started/build-tools">
                Build tools
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/getting-started/best-practices">
                Best practices
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/layout/overview">
        
          Layout
        </a>

        <ul class="nav bd-sidenav">
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/layout/overview">
                Overview
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/layout/grid">
                Grid
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/layout/media-object">
                Media object
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/layout/responsive-utilities">
                Responsive utilities
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/content/reboot">
        
          Content
        </a>

        <ul class="nav bd-sidenav">
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/content/reboot">
                Reboot
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/content/typography">
                Typography
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/content/code">
                Code
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/content/images">
                Images
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/content/tables">
                Tables
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/content/figures">
                Figures
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      
        
      

      <div class="bd-toc-item active">
        
          <a class="bd-toc-link" href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/buttons">
        
          Components
        </a>

        <ul class="nav bd-sidenav">
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/buttons">
                Buttons
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/button-group">
                Button group
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/button-dropdown">
                Button dropdown
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/forms">
                Forms
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/input-group">
                Input group
              </a>

              
            </li>
          
            
            

            
              
            

            <li class="active bd-sidenav-active">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/dropdowns">
                Dropdowns
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/jumbotron">
                Jumbotron
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/label">
                Label
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/alerts">
                Alerts
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/card">
                Card
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/navs">
                Navs
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/navbar">
                Navbar
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/breadcrumb">
                Breadcrumb
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/pagination">
                Pagination
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/progress">
                Progress
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/list-group">
                List group
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/modal">
                Modal
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/scrollspy">
                Scrollspy
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/tooltips">
                Tooltips
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/popovers">
                Popovers
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/collapse">
                Collapse
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/carousel">
                Carousel
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/components/utilities">
                Utilities
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/jcu-customisations/styling">
        
          JCU Customisations
        </a>

        <ul class="nav bd-sidenav">
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/jcu-customisations/styling">
                Styling
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/jcu-customisations/typography">
                Typography
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/jcu-customisations/iconography">
                Iconography
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/jcu-customisations/themes">
                Themes
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/jcu-customisations/campus-stack">
                Campus Stack
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/jcu-customisations/colophon">
                Colophon
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/jcu-customisations/accordion">
                Accordion
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/jcu-customisations/card">
                Card
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/jcu-customisations/overlay">
                Overlay
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/jcu-customisations/examples">
                Examples
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/about/history">
        
          About
        </a>

        <ul class="nav bd-sidenav">
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/about/history">
                History
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/about/accessibility">
                Accessibility
              </a>

              
            </li>
          
            
            

            

            <li class="">
              <a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/about/license">
                License
              </a>

              
            </li>
          
        </ul>
      </div>
    
      
      
      

      

      <div class="bd-toc-item ">
        
          <a class="bd-toc-link" href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/migration/">
        
          Migration
        </a>

        <ul class="nav bd-sidenav">
          
        </ul>
      </div>
    
  </nav>
</div>

          </div>
          <div class="col-md-9 col-md-pull-3 bd-content">
            <h1 class="bd-title" id="content">Dropdowns</h1>
            <p>Dropdowns are toggleable, contextual overlays for displaying lists of links and more. They’re made interactive with the included Bootstrap dropdown JavaScript plugin. They’re toggled by clicking, not by hovering; this is <a href="http://markdotto.com/2012/02/27/bootstrap-explained-dropdowns/">an intentional design decision.</a></p>

<h2 id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a href="#contents" id="markdown-toc-contents">Contents</a></li>
  <li><a href="#example" id="markdown-toc-example">Example</a>    <ul>
      <li><a href="#button-elements" id="markdown-toc-button-elements">Button elements</a></li>
    </ul>
  </li>
  <li><a href="#alignment" id="markdown-toc-alignment">Alignment</a></li>
  <li><a href="#menu-headers" id="markdown-toc-menu-headers">Menu headers</a></li>
  <li><a href="#menu-dividers" id="markdown-toc-menu-dividers">Menu dividers</a></li>
  <li><a href="#disabled-menu-items" id="markdown-toc-disabled-menu-items">Disabled menu items</a></li>
  <li><a href="#usage" id="markdown-toc-usage">Usage</a>    <ul>
      <li><a href="#via-data-attributes" id="markdown-toc-via-data-attributes">Via data attributes</a></li>
      <li><a href="#via-javascript" id="markdown-toc-via-javascript">Via JavaScript</a></li>
      <li><a href="#options" id="markdown-toc-options">Options</a></li>
      <li><a href="#methods" id="markdown-toc-methods">Methods</a></li>
      <li><a href="#events" id="markdown-toc-events">Events</a></li>
    </ul>
  </li>
</ul>

<h2 id="example">Example</h2>

<p>Wrap the dropdown’s trigger and the dropdown menu within <code>.dropdown</code>, or another element that declares <code>position: relative;</code>. Then, add the menu’s HTML.</p>

<div class="bd-example" data-example-id="">
<div class="dropdown open">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown open"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-secondary dropdown-toggle"</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">id=</span><span class="s">"dropdownMenu1"</span> <span class="na">data-toggle=</span><span class="s">"dropdown"</span> <span class="na">aria-haspopup=</span><span class="s">"true"</span> <span class="na">aria-expanded=</span><span class="s">"false"</span><span class="nt">&gt;</span>
    Dropdown
  <span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span> <span class="na">aria-labelledby=</span><span class="s">"dropdownMenu1"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Action<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Another action<span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Something else here<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h3 id="button-elements">Button elements</h3>

<p>You can optionally use <code>&lt;button&gt;</code> elements in your dropdowns instead of <code>&lt;a&gt;</code>s.</p>

<div class="bd-example" data-example-id="">
<div class="dropdown open">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Another action</button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown open"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"btn btn-secondary dropdown-toggle"</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">id=</span><span class="s">"dropdownMenu2"</span> <span class="na">data-toggle=</span><span class="s">"dropdown"</span> <span class="na">aria-haspopup=</span><span class="s">"true"</span> <span class="na">aria-expanded=</span><span class="s">"false"</span><span class="nt">&gt;</span>
    Dropdown
  <span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span> <span class="na">aria-labelledby=</span><span class="s">"dropdownMenu2"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Action<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Another action<span class="nt">&lt;/button&gt;</span>
    <span class="nt">&lt;button</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">type=</span><span class="s">"button"</span><span class="nt">&gt;</span>Something else here<span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h2 id="alignment">Alignment</h2>

<p>By default, a dropdown menu is automatically positioned 100% from the top and along the left side of its parent. Add <code>.dropdown-menu-right</code> to a <code>.dropdown-menu</code> to right align the dropdown menu.</p>

<div class="bd-callout bd-callout-info">
<p><strong>Heads up!</strong> Dropdowns are positioned only with CSS and may need some additional styles for exact alignment.</p>
</div>

<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu dropdown-menu-right"</span> <span class="na">aria-labelledby=</span><span class="s">"dLabel"</span><span class="nt">&gt;</span>
  ...
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h2 id="menu-headers">Menu headers</h2>

<p>Add a header to label sections of actions in any dropdown menu.</p>

<div class="bd-example" data-example-id="">
<div class="dropdown-menu">
  <h6 class="dropdown-header">Dropdown header</h6>
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;h6</span> <span class="na">class=</span><span class="s">"dropdown-header"</span><span class="nt">&gt;</span>Dropdown header<span class="nt">&lt;/h6&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Action<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Another action<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h2 id="menu-dividers">Menu dividers</h2>

<p>Separate groups of related menu items with a divider.</p>

<div class="bd-example" data-example-id="">
<div class="dropdown-menu">
  <a class="dropdown-item" href="#">Action</a>
  <a class="dropdown-item" href="#">Another action</a>
  <a class="dropdown-item" href="#">Something else here</a>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">Separated link</a>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Action<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Another action<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Something else here<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-divider"</span><span class="nt">&gt;&lt;/div&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Separated link<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h2 id="disabled-menu-items">Disabled menu items</h2>

<p>Add <code>.disabled</code> to items in the dropdown to <strong>style them as disabled</strong>.</p>

<div class="bd-example" data-example-id="">
<div class="dropdown-menu">
  <a class="dropdown-item" href="#">Regular link</a>
  <a class="dropdown-item disabled" href="#">Disabled link</a>
  <a class="dropdown-item" href="#">Another link</a>
</div>
</div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Regular link<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item disabled"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Disabled link<span class="nt">&lt;/a&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"dropdown-item"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>Another link<span class="nt">&lt;/a&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h2 id="usage">Usage</h2>

<p>Via data attributes or JavaScript, the dropdown plugin toggles hidden content (dropdown menus) by toggling the <code>.open</code> class on the parent list item.</p>

<p>On mobile devices, opening a dropdown adds a <code>.dropdown-backdrop</code> as a tap area for closing dropdown menus when tapping outside the menu, a requirement for proper iOS support. <strong>This means that switching from an open dropdown menu to a different dropdown menu requires an extra tap on mobile.</strong></p>

<p>Note: The <code>data-toggle="dropdown"</code> attribute is relied on for closing dropdown menus at an application level, so it’s a good idea to always use it.</p>

<h3 id="via-data-attributes">Via data attributes</h3>

<p>Add <code>data-toggle="dropdown"</code> to a link or button to toggle a dropdown.</p>

<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;button</span> <span class="na">id=</span><span class="s">"dLabel"</span> <span class="na">type=</span><span class="s">"button"</span> <span class="na">data-toggle=</span><span class="s">"dropdown"</span> <span class="na">aria-haspopup=</span><span class="s">"true"</span> <span class="na">aria-expanded=</span><span class="s">"false"</span><span class="nt">&gt;</span>
    Dropdown trigger
  <span class="nt">&lt;/button&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span> <span class="na">aria-labelledby=</span><span class="s">"dLabel"</span><span class="nt">&gt;</span>
    ...
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<p>To keep URLs intact with link buttons, use the <code>data-target</code> attribute instead of <code>href="#"</code>.</p>

<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;a</span> <span class="na">id=</span><span class="s">"dLabel"</span> <span class="na">data-target=</span><span class="s">"#"</span> <span class="na">href=</span><span class="s">"http://example.com"</span> <span class="na">data-toggle=</span><span class="s">"dropdown"</span> <span class="na">aria-haspopup=</span><span class="s">"true"</span> <span class="na">aria-expanded=</span><span class="s">"false"</span><span class="nt">&gt;</span>
    Dropdown trigger
  <span class="nt">&lt;/a&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"dropdown-menu"</span> <span class="na">aria-labelledby=</span><span class="s">"dLabel"</span><span class="nt">&gt;</span>
    ...
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h3 id="via-javascript">Via JavaScript</h3>

<p>Call the dropdowns via JavaScript:</p>

<div class="highlight"><pre><code class="language-js" data-lang="js"><span class="nx">$</span><span class="p">(</span><span class="s1">'.dropdown-toggle'</span><span class="p">).</span><span class="nx">dropdown</span><span class="p">()</span></code></pre></div>

<div class="bd-callout bd-callout-info">
<h4 id="data-toggledropdown-still-required"><code>data-toggle="dropdown"</code> still required</h4>

<p>Regardless of whether you call your dropdown via JavaScript or instead use the data-api, <code>data-toggle="dropdown"</code> is always required to be present on the dropdown’s trigger element.</p>
</div>

<h3 id="options">Options</h3>

<p><em>None.</em></p>

<h3 id="methods">Methods</h3>

<table>
  <thead>
    <tr>
      <th>Method</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>$().dropdown('toggle')</code></td>
      <td>Toggles the dropdown menu of a given navbar or tabbed navigation.</td>
    </tr>
  </tbody>
</table>

<h3 id="events">Events</h3>

<p>All dropdown events are fired at the <code>.dropdown-menu</code>’s parent element and have a <code>relatedTarget</code> property, whose value is the toggling anchor element.</p>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>show.bs.dropdown</code></td>
      <td>This event fires immediately when the show instance method is called.</td>
    </tr>
    <tr>
      <td><code>shown.bs.dropdown</code></td>
      <td>This event is fired when the dropdown has been made visible to the user (will wait for CSS transitions, to complete).</td>
    </tr>
    <tr>
      <td><code>hide.bs.dropdown</code></td>
      <td>This event is fired immediately when the hide instance method has been called.</td>
    </tr>
    <tr>
      <td><code>hidden.bs.dropdown</code></td>
      <td>This event is fired when the dropdown has finished being hidden from the user (will wait for CSS transitions, to complete).</td>
    </tr>
  </tbody>
</table>

<div class="highlight"><pre><code class="language-js" data-lang="js"><span class="nx">$</span><span class="p">(</span><span class="s1">'#myDropdown'</span><span class="p">).</span><span class="nx">on</span><span class="p">(</span><span class="s1">'show.bs.dropdown'</span><span class="p">,</span> <span class="kd">function</span> <span class="p">()</span> <span class="p">{</span>
  <span class="c1">// do something…</span>
<span class="p">})</span></code></pre></div>


          </div>
        </div>
      </div>
    </main>

    <footer class="bd-footer text-muted" role="contentinfo">
  <div class="container">
    <ul class="bd-footer-links">
      <li><a href="https://git.jcu.edu.au/stash/projects/WEBSTYLE/repos/jcu-web-framework">Stash</a></li>
      <li><a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/examples/">Examples</a></li>
      <li><a href="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/about/history/">About</a></li>
    </ul>
    <p>Designed and built with on top of Bootstrap for JCU by <a href="http://github.com/davidjb" target="_blank">@davidjb</a>.</p>
    <p>Currently based off Bootstrap v4.0.0-alpha.</p>
    <p>Original code licensed <a rel="license" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank">MIT</a>, docs <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.  Documentation &copy; <a href="https://github.com/orgs/twbs/people">Bootstrap core team</a> and <a href="https://github.com/twbs/bootstrap/graphs/contributors">contributors</a>.</p>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/assets/js/vendor/jquery.min.js"><\/script>')</script>


  <script src="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/dist/js/bootstrap.min.js"></script>



  <script src="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/assets/js/docs.min.js"></script>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/assets/js/ie-emulation-modes-warning.js"></script>


<script src="/stash/pages/WEBSTYLE/jcu-web-framework/gh-pages/browse/assets/js/vendor/jekyll-search.js"></script>

<script>
SimpleJekyllSearch.init({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('search-results'),
  searchResultTemplate: '<a class="dropdown-item" href="{url}">{title}</a>',
  noResultsText: '<div class="dropdown-item no-results">Sorry, there are no results for that search.</div>',
  json: '/search.json'
})
</script>


<script>
Holder.addTheme('gray', {
  background: '#777',
  foreground: 'rgba(255,255,255,.75)',
  font: 'Helvetica',
  fontweight: 'normal'
})
</script>

  </body>
</html>
